.home {
  // height: 100vh;
  width: 100%;

  .self-introduction {
    width: 100%;
    height: 100vh;
    position: fixed;

    background-image: url('@assets/images/bg1.jpg');
    background-size: 1920px 1080px;

    .slip-box {
      position: absolute;
      top: 200px;
      left: 200px;

      .self-image {
        position: absolute;
        width: 168px;
        height: 168px;
        border-radius: 84px;
        overflow: hidden;

        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: all 1s;
      }

      .self-image-text {
        position: absolute;
        width: 168px;
        height: 168px;
        border-radius: 84px;
        overflow: hidden;

        text-align: center;
        line-height: 168px;

        backface-visibility: hidden;
        transform: rotateY(-180deg);
        transition: all 1s;
      }
    }

    .slip-box:hover .self-image {
      transform: rotateY(180deg);
    }

    .slip-box:hover .self-image-text {
      transform: rotateY(0deg);
    }

    .self-info {
      position: absolute;
      top: 200px;
      left: 400px;
      padding: 20px;

      p {
        font-size: 16px;
        color: #333333;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }

  .technology-stack {
    position: relative;
    top: 100vh;
    height: 1000px;
    background-image: url('@assets/images/paperbg.png');
  }
}
