.home {
  // height: 100vh;
  width: 100%;

  .self-introduction {
    width: 100%;
    height: 1080px;
    position: relative;

    background-image: url('@assets/images/bg1.jpg');
    background-size: 1920px 1080px;

    .self-image {
      width: 168px;
      height: 168px;
      border-radius: 84px;
      overflow: hidden;

      position: absolute;
      top: 200px;
      left: 200px;
    }

    .self-info {
      position: absolute;
      top: 200px;
      left: 400px;
      padding: 20px;

      p {
        font-size: 16px;
        color: #333333;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }
}
