.home {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background-image: url('@assets/images/paperbg.png');

  .content {
    margin: 0 auto;
    width: 1200px;
  }

  .welcome-box {
    height: 100%;
  }

  .personal-info-box {
    height: 1000px;
  }

  .contactme-box {
    height: 1000px;
  }

  .technology-show-box {
    height: 100%;
  }

  .work-experience-box {
    height: 1000px;
  }

  .project-experience-box {
    height: 1000px;
  }

  .directory-box {
    width: 148px;
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 100;
  }

  .canvas {
    position: absolute;
    top: 0;
  }
}
